<!-- Header -->
  <div class="container">
  <div class="intro-header">
          <div class="row">

<div class="intro-message">
<div class="login-button">
  <header id="signup_header">
  <div class="header login">
<span style="margin-right: 20px">Need an account?</span>
<a href="signup" class="btn btn-default btn-lg">
  Sign Up</a>

</div>
</div>
<!-- <h6>Already have an account?</h6>
<a href="signup" class="btn btn-default btn-lg"><span class="network-name">Sign Up</span></a>
</div> -->
<h1>couplr</h1>
<hr class="intro-divider">


<section id="login">
      <div class="container">
          <div class="row log">

  <div class="col-sm-1 col-sm-offset-1 left-reg">

<%= form_tag sessions_path do %>
  <div class="field">
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  </div>
<div class="field">
  <%= label_tag :password %>
  <%= password_field_tag :password %>
</div>

<div class="login-btn">
  <%= submit_tag "Let's Go", class: "btn btn-default btn-lg" %>

      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</section>
<% end %>
