
  <h1 class="login-header">Login</h1>
  <div class="container">
     <div class="col-md-6 col-md-offset-3" id="form-container">
        <div class="bs-example2">
           <%= form_tag sessions_path do %>
           <div class="form-group float-label-control">
              <%= label_tag :username %>
              <%= text_field_tag :username %>
           </div>
           <div class="form-group float-label-control">
              <%= label_tag :password %>
              <%= password_field_tag :password %>
           </div>
           <div id="login-btn">
              <%= submit_tag "Let's Go", class: "btn btn-default btn-lg login-bg" %>
           </div>
             <% end %>
        </div>
     </div>
  </div>
