
         <div class="container">


<%= form_for @user, url: user_path(@user), method: :patch, html: {class: "form-horizontal row-border"} do |f| %>
<% if @user.errors.any? %>
<div class="error_messages">
  <h2>Form is invalid</h2>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="col-md-8 col-sm-8 col-xs-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <i class="icon-calendar"></i>
        <h3 class="panel-title">About Us</h3>
      </div>
      <div class="panel-body">

<div class="form-group">

  <%= f.label :about_us, "Anything else you want others to know?" %></br>
  <textarea name="user[about_us]" id="user_about_us" class = "form-control" rows = "3"></textarea>

</div>
</div>
</div>
</div>
</div>
<!--
<form role = "form">
   <div class = "form-group">
      <label for = "name">Text Area</label>
      <textarea class = "form-control" rows = "3"></textarea>
   </div>

</form> -->
<!-- <h2>Ideal friends</h2>
<div class="form-group">
  <%= f.label :ideal_friends %>
  <%= f.text_field :ideal_friends %>
</div> -->
</div>
</div>

<div>
  <%= hidden_field_tag :redirect_location, 'six_login' %>
  <%= f.submit "Next", class: "btn btn-default btn-lg" %>
  <div class="col-md-5 control-label">
</div>

<% end %>
</div>
