
         <div class="container">

<h4>Start making friends by adding to your profile.</h4>

<%= form_for @user, url: user_path(@user), method: :patch, html: {class: "form-horizontal row-border"} do |f| %>
<% if @user.errors.any? %>
<div class="error_messages">
  <h2>Form is invalid</h2>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<!-- We might want to make these f.select fields, but we'll do that when we have time -->
<!-- We can add terms and services and captcha if we have time -->

<div class="row">
  <div class="col-md-6 col-sm-8 col-xs-8 col-sm-offset-0">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <i class="icon-calendar"></i>
        <h3 class="panel-title">Pets</h3>
      </div>
      <div class="panel-body">
<div class="form-group">
  <%= f.label :dogs, class: "col-md-4 control-label" %>
  <%= f.check_box :dogs %>
</div>

<div class="form-group">
  <%= f.label :cats, class: "col-md-4 control-label" %>
  <%= f.check_box :cats %>
</div>

<div class="form-group">
  <%= f.label :birds, class: "col-md-4 control-label" %>
  <%= f.check_box :birds %>
</div>

<div class="form-group">
  <%= f.label :reptiles, class: "col-md-4 control-label" %>
  <%= f.check_box :reptiles %>
</div>

<div class="form-group">
  <%= f.label :fish, class: "col-md-4 control-label" %>
  <%= f.check_box :fish %>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-6 col-sm-8 col-xs-8 col-sm-offset-0">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <i class="icon-calendar"></i>
        <h3 class="panel-title">Sports</h3>
      </div>
      <div class="panel-body">
<div class="form-group">
  <%= f.label :badminton, class: "col-md-4 control-label" %>
  <%= f.check_box :badmitten %>
</div>

<div class="form-group">
  <%= f.label :baseball, class: "col-md-4 control-label" %>
  <%= f.check_box :baseball %>
</div>

<div class="form-group">
  <%= f.label :basketball, class: "col-md-4 control-label" %>
  <%= f.check_box :basketball %>
</div>

<div class="form-group">
  <%= f.label :camping, class: "col-md-4 control-label" %>
  <%= f.check_box :camping %>
</div>

<div class="form-group">
  <%= f.label :cycling, class: "col-md-4 control-label" %>
  <%= f.check_box :cycling %>
</div>

<div class="form-group">
  <%= f.label :fishing, class: "col-md-4 control-label" %>
  <%= f.check_box :fishing %>
</div>

<div class="form-group">
  <%= f.label :fitness, class: "col-md-4 control-label" %>
  <%= f.check_box :fitness %>
</div>

<div class="form-group">
  <%= f.label :football, class: "col-md-4 control-label" %>
  <%= f.check_box :football %>
</div>

<div class="form-group">
  <%= f.label :gardening, class: "col-md-4 control-label" %>
  <%= f.check_box :gardening %>
</div>

<div class="form-group">
  <%= f.label :golf, class: "col-md-4 control-label" %>
  <%= f.check_box :golf %>
</div>

<div class="form-group">
  <%= f.label :gym, class: "col-md-4 control-label" %>
  <%= f.check_box :gym %>
</div>

<div class="form-group">
  <%= f.label :hiking, class: "col-md-4 control-label" %>
  <%= f.check_box :hiking %>
</div>

<div class="form-group">
  <%= f.label :hockey, class: "col-md-4 control-label" %>
  <%= f.check_box :hockey %>
</div>

<div class="form-group">
  <%= f.label :hunting, class: "col-md-4 control-label" %>
  <%= f.check_box :hunting %>
</div>

<div class="form-group">
  <%= f.label :kayaking, class: "col-md-4 control-label" %>
  <%= f.check_box :kayaking %>
</div>

<div class="form-group">
  <%= f.label :paddleboarding, class: "col-md-4 control-label" %>
  <%= f.check_box :paddleboarding %>
</div>

<div class="form-group">
  <%= f.label :picnics, class: "col-md-4 control-label" %>
  <%= f.check_box :picnics %>
</div>

<div class="form-group">
  <%= f.label :running, class: "col-md-4 control-label" %>
  <%= f.check_box :running %>
</div>

<div class="form-group">
  <%= f.label :ski, class: "col-md-4 control-label" %>
  <%= f.check_box :ski %>
</div>

<div class="form-group">
  <%= f.label :snowboard, class: "col-md-4 control-label" %>
  <%= f.check_box :snowboard %>
</div>

<div class="form-group">
  <%= f.label :soccer, class: "col-md-4 control-label" %>
  <%= f.check_box :soccer %>
</div>

<div class="form-group">
  <%= f.label :swimming, class: "col-md-4 control-label" %>
  <%= f.check_box :swimming %>
</div>

<div class="form-group">
  <%= f.label :tennis, class: "col-md-4 control-label" %>
  <%= f.check_box :tennis %>
</div>

<div class="form-group">
  <%= f.label :walking, class: "col-md-4 control-label" %>
  <%= f.check_box :walking %>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-6 col-sm-8 col-xs-8 col-sm-offset-0">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <i class="icon-calendar"></i>
        <h3 class="panel-title">Community</h3>
      </div>
      <div class="panel-body">
<div class="form-group">
  <%= f.label :communityservices, class: "col-md-4 control-label" %>
  <%= f.check_box :communityservices %>
</div>

<div class="form-group">
  <%= f.label :earlybirds, class: "col-md-4 control-label" %>
  <%= f.check_box :earlybirds %>
</div>

<div class="form-group">
  <%= f.label :environments, class: "col-md-4 control-label" %>
  <%= f.check_box :environments %>
</div>

<div class="form-group">
  <%= f.label :geeksandnerds, class: "col-md-4 control-label" %>
  <%= f.check_box :geeksandnerds %>
</div>

<div class="form-group">
  <%= f.label :localpolitics, class: "col-md-4 control-label" %>
  <%= f.check_box :localpolitics %>
</div>

<div class="form-group">
  <%= f.label :nightowls, class: "col-md-4 control-label" %>
  <%= f.check_box :nightowls %>
</div>

<div class="form-group">
  <%= f.label :paleo, class: "col-md-4 control-label" %>
  <%= f.check_box :paleo %>
</div>

<div class="form-group">
  <%= f.label :vegan, class: "col-md-4 control-label" %>
  <%= f.check_box :vegan %>
</div>

<div class="form-group">
  <%= f.label :vegetarian, class: "col-md-4 control-label" %>
  <%= f.check_box :vegetarian %>
</div>

<div class="form-group">
  <%= f.label :philanthropy, class: "col-md-4 control-label" %>
  <%= f.check_box :philanthropy %>
</div>

<div class="form-group">
  <%= f.label :volunteer, class: "col-md-4 control-label" %>
  <%= f.check_box :volunteer %>
</div>
</div>
</div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-8 col-xs-8 col-sm-offset-0">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <i class="icon-calendar"></i>
        <h3 class="panel-title">Others</h3>
      </div>
      <div class="panel-body">
<div class="form-group">
  <%= f.label :artist, class: "col-md-4 control-label" %>
  <%= f.check_box :artist %>
</div>

<div class="form-group">
  <%= f.label :artsandcrafts, class: "col-md-4 control-label" %>
  <%= f.check_box :artsandcrafts %>
</div>

<div class="form-group">
  <%= f.label :billiards, class: "col-md-4 control-label" %>
  <%= f.check_box :billiards %>
</div>

<div class="form-group">
  <%= f.label :boardgames, class: "col-md-4 control-label" %>
  <%= f.check_box :boardgames %>
</div>

<div class="form-group">
  <%= f.label :boats, class: "col-md-4 control-label" %>
  <%= f.check_box :boats %>
</div>

<div class="form-group">
  <%= f.label :books, class: "col-md-4 control-label" %>
  <%= f.check_box :books %>
</div>

<div class="form-group">
  <%= f.label :cars, class: "col-md-4 control-label" %>
  <%= f.check_box :cars %>
</div>

<div class="form-group">
  <%= f.label :cooking, class: "col-md-4 control-label" %>
  <%= f.check_box :cooking %>
</div>

<div class="form-group">
  <%= f.label :fashion, class: "col-md-4 control-label" %>
  <%= f.check_box :fashion %>
</div>

<div class="form-group">
  <%= f.label :kidsplaydates, class: "col-md-4 control-label" %>
  <%= f.check_box :kidsplaydates %>
</div>

<div class="form-group">
  <%= f.label :learningandclasses, class: "col-md-4 control-label" %>
  <%= f.check_box :learningandclasses %>
</div>

<div class="form-group">
  <%= f.label :musician, class: "col-md-4 control-label" %>
  <%= f.check_box :musician %>
</div>

<div class="form-group">
  <%= f.label :parenting, class: "col-md-4 control-label" %>
  <%= f.check_box :parenting %>
</div>

<div class="form-group">
  <%= f.label :photography, class: "col-md-4 control-label" %>
  <%= f.check_box :photography %>
</div>

<div class="form-group">
  <%= f.label :politics, class: "col-md-4 control-label" %>
  <%= f.check_box :politics %>
</div>

<div class="form-group">
  <%= f.label :traveling, class: "col-md-4 control-label" %>
  <%= f.check_box :traveling %>
</div>

<div class="form-group">
  <%= f.label :videogames, class: "col-md-4 control-label" %>
  <%= f.check_box :videogames %>
</div>

<div class="form-group">
  <%= f.label :smoking, class: "col-md-4 control-label" %>
  <%= f.check_box :smoking %>
</div>

<div>

</div>
</div>
</div>
</div>

<%= hidden_field_tag :redirect_location, 'five_aboutus' %>
<%= f.submit "Next", class: "btn btn-default btn-lg" %>
<div class="col-md-5 control-label">
<% end %>
</div>
