<!-- <center>
   <div class="intro-header">
</center> -->
<!-- Page Content -->
<div class="container">
   <div class="row">
      <div class="col-md-12 col-sm-6 col-xs-12">
         <div class="panel panel-default">
            <div class="panel-heading clearfix">
               <i class="icon-calendar"></i>
               <h1 id="browse-suggestions">Browse Suggestions</h1>
               <div class="search-bar">
                  <%= form_tag(action: "filter", method: "post") do %>
                  <%= label_tag(:min, "Partner one's age is between", :class => "styling-partner-one-age") %>
                  <%= number_field_tag(:min) %>
                  <%= label_tag(:max, "and", :class => "styling-partner-one-age") %>
                  <%= number_field_tag(:max) %>
                  <br>
                  <%= label_tag(:min_two, "Partner two's age is between", :class => "styling-partner-one-age") %>
                  <%= number_field_tag(:min_two) %>
                  <%= label_tag(:max_two, "and", :class => "styling-partner-one-age") %>
                  <%= number_field_tag(:max_two) %> <br>
                  <%= submit_tag("Filter", :class => "search-filter") %>
                  <% end %>
               </div>
            </div>

            <div class="panel-body">
               <div class="row">
                  <% @users.each do |user| %>
                  <div class="col-md-4 portfolio-item">
                     <!-- class="img-responsive" -->
                     <ul>
                        <li style="display:inline;"><%= link_to image_tag(user.avatar_url, size: "270x210"), user_path(user)%></li>
                        <li style="display:inline;"><%= link_to user.username, user_path(user) %></li>
                        <li style="display:inline;">
                           <p><%= "#{user.partner_one_name} & #{user.partner_two_name} "%></p>
                        </li>
                     </ul>
                     <br>
                  </div>
                  <% end %>
               </div>

            </div>
         </div>
      </div>
   </div>
</div>
</body>
</html>
