<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="">couplr</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                <% if user_signed_in? %>

                    <li><%= link_to "Hello, #{current_user.username}", "#" %></li>
                    <li><%= link_to "Inbox", mailbox_inbox_path %></li>
                    <li><%= link_to "Logout", logout_path %></li>
                <% else %>
                    <li class="active"><%= link_to "Login", login_path %></li>
                    <li><%= link_to "Sign up", signup_path %></li>
                <% end %>
              </ul>
            </div></.nav-collapse
          </div>
         </nav>


<center>
<!-- Header -->
<!-- <div class="container"> -->
  <div class="intro-header">
    <div class="row">
      <!-- <div id="login-btn" class="col-md-2 col-md-offset-10">
        <%= link_to login_path do %>
        <div class="btn btn-default btn-lg">
          Log In
        </div>
        <% end %> -->
      </div>

<%= form_for @user do |f| %>
<% if @user.errors.any? %>
<div class="error_messages">
  <h2>Form is invalid</h2>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="container-fluid">
    <div class="row">
        <div class="row-signup">


<form class="form-horizontal">
  <div id="signin-grp" class="col-sm-3 col-sm-offset-3 left-reg">
    <div class="form-group">

  <%= f.label :username %>
  <%= f.text_field :username, :placeholder => "placeholder text"%>
</div>

<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>

<div class="form-group">
  <%= f.label :partner_one_name, "Partner 1" %>
  <%= f.text_field :partner_one_name %>
</div>
</div>

  <div id="signin-grp" class="col-sm-3 right-reg">
  <div class="form-group">
    <%= f.label :shared_email, "Shared Email" %>
    <%= f.text_field :email %>
  </div>

<div class="form-group">
  <%= f.label :password_confirmation, "Confirm Password" %>
  <%= f.password_field :password_confirmation %>
</div>

<div class="form-group">
  <%= f.label :partner_two_name, "Partner 2" %>
  <%= f.text_field :partner_two_name %>
</div>
</div>
</div>
</div>


<div class="create-account-btn">
  <!-- <a href="users" class="btn btn-default btn-lg"><span class="network-name">Create Account</span></a> -->
  <%= f.submit "Create Account", id: "create-acct-btn", class: "btn btn-default btn-lg" %>

</div>
</div>
</div>
</div>

</form>
</section>
<% end %>
