<h1>user show page</h1>
<!-- insert image here -->
<%=image_tag(@user.avatar,:size => "200x220")%>
<%= @user.username %> <br>
<% if current_user != @user %>
<input type="button" id="btnShowModal" value="Send a message"/>
<% end %><h1>Sign up</h1>
<%= form_for @user do |f| %>
<% if @user.errors.any? %>
<div class="error_messages">
  <h2>Form is invalid</h2>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :username %>
  <%= f.text_field :username %>
</div>

<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>

<div class="form-group">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</div>

<div class="form-group">
      <%= f.label :avatar %>
      <%= f.file_field :avatar, class: "form-control" %>
      <%= f.hidden_field :avatar_cache, class: "form-control" %>
</div>

<div>
  <%= f.submit "Sign Up", class: "btn btn-primary" %>
</div>
<% end %>



partner 1 bday
partner 2 bday
relationship status
we are a (man and woman)
we are looking for (man and woman couples)
location/address
have kids
//terms and service
//captcha
