

         <div class="container">
<body>



<h4>Start making friends by adding to your profile.</h4>

<div class="row">
  <div class="col-md-8 col-sm-10 col-xs-12 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <i class="icon-calendar"></i>
        <h3 class="panel-title">Profile</h3>
      </div>
      <div class="panel-body">


<%= form_for @user, url: user_path(@user), method: :patch, html: {class: "form-horizontal row-border", id: "register-form"} do |f| %>

<%= form_for @user, method: :patch do |f| %>

<% if @user.errors.any? %>
<div class="error_messages">
  <h2>Form is invalid</h2>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :partner_one_birthday, class: "col-md-4 control-label"  %>
  <%= f.date_field :birthday_one %>
</div>

<div class="form-group">
  <%= f.label :partner_two_birthday, class: "col-md-4 control-label" %>
  <%= f.date_field :birthday_two %>
</div>

<div class="form-group">
  <%= f.label :relationship_status, class: "col-md-4 control-label" %>
  <%= f.text_field :relationship_status %>
</div>

<div class="form-group">
  <%= f.label :we_are_a, class: "col-md-4 control-label"  %>
  <%= f.text_field :we_are_a %>
</div>

<div class="form-group">
  <%= f.label :we_are_looking_for, class: "col-md-4 control-label"  %>
  <%= f.text_field :we_are_looking_for %>
</div>

<div class="form-group">
  <%= f.label :street_number, class: "col-md-4 control-label"  %>
  <%= f.text_field :street_number %>
</div>

<div class="form-group">
  <%= f.label :street_name, class: "col-md-4 control-label"  %>
  <%= f.text_field :street %>
</div>

<div class="form-group">
  <%= f.label :city, class: "col-md-4 control-label"  %>
  <%= f.text_field :city %>
</div>

<div class="form-group">
  <%= f.label :state, class: "col-md-4 control-label"  %>
  <%= f.text_field :state %>
</div>

<div class="form-group">
  <%= f.label :country, class: "col-md-4 control-label"  %>
  <%= f.text_field :country_location %>
</div>

<div class="form-group">
  <%= f.label :zip_code, class: "col-md-4 control-label"  %>
  <%= f.text_field :zip_code %>
</div>

<div class="form-group">
  <%= f.label :have_kids, class: "col-md-4 control-label"  %>
  <%= f.check_box :have_kids %>
</div>

<div>
  <div class="col-md-7 control-label">
  <%= hidden_field_tag :redirect_location, 'two_upload_photo' %>
  <%= f.submit "Next", class: "btn btn-default btn-lg" %>
</div>


<fieldset>
</div>
</div>
<% end %>
</div>
</div>
</div>
<% end %>
</body>
