<h1>user show page</h1>
<%= @user.username %> <br>
<!-- <input type="button" id="btnShowModal" value="Send a message"/> -->
<%= link_to 'Send message', new_message_path(to: @user.id), class: 'btn btn-default btn-sm', id: 'btnShowModal' %>
<%#= render "/conversations/form" %>


<br>


<div id="output"></div>

<div id="overlay" class="web_dialog_overlay"></div>

<div id="dialog" class="web_dialog">
   <!-- <table style="width: 100%; border: 0px;" cellpadding="3" cellspacing="0">
      <tr>
         <td class="web_dialog_title">Online Survey</td>
         <td class="web_dialog_title align_right">
            <a href="#" id="btnClose">Close</a>
         </td>
      </tr>
      <br> -->


      <%= form_tag messages_path, method: :post do %>

      <div class="form-group">
      <%= label_tag 'recipients', 'Recipient' %>
      <%= select_tag 'recipients', recipients_options(@chosen_recipient), multiple: true, class: 'form-control chosen-it' %>
      </div>

      <div class="form-group">
      <%= label_tag 'message[subject]', 'Subject' %>
      <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
      </div>

      <div class="form-group">
      <%= label_tag 'message[body]', 'Message' %>
      <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
      </div>

      <%= submit_tag 'Send Message', class: "btn btn-success" %>
      <% end %>


         <!-- <td colspan="2" style="text-align: center;">
            <input id="btnSubmit" type="button" value="Submit" />
         </td>
      </tr>
   </table> -->
</div>
