<h1>user show page</h1>
<!-- insert image here -->
<%=image_tag(@user.avatar,:size => "200x220")%>
<%= @user.username %> <br>
<% if current_user != @user %>
<input type="button" id="btnShowModal" value="Send a message"/>
<% end %>
<%#= render "/conversations/form" %>


<br>


<div id="output"></div>

<div id="overlay" class="web_dialog_overlay"></div>

<div id="dialog" class="web_dialog">
   <!-- <table style="width: 100%; border: 0px;" cellpadding="3" cellspacing="0">
      <tr>
         <td class="web_dialog_title">Online Survey</td>
         <td class="web_dialog_title align_right">
            <a href="#" id="btnClose">Close</a>
         </td>
      </tr>
      <br> -->


           <%= form_for :conversation, url: :message, html: { class: "" } do |f| %>
              <div class="form-group">
                <%= f.label :recipients, "Recipient: #{@user.username}" %>
                <%= f.hidden_field :user_id, :value => @user.id %>
              </div>
              <div class="form-group">
                <%= f.label :subject %>
                <%= f.text_field :subject, placeholder: "Subject", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :message %>
                <%= f.text_area :body, class: 'form-control',placeholder: "Type your message here", rows: 4  %>
              </div>
              <div id="btnSubmit">
                <%= f.submit "Send Message", class: "btn btn-success" %>
              </div>

           <% end %>


         <!-- <td colspan="2" style="text-align: center;">
            <input id="btnSubmit" type="button" value="Submit" />
         </td>
      </tr>
   </table> -->
</div>
