<h1>Profile pic page</h1>
<h2>We need to add a skip button, and option to upload more photos </h2>
<%= form_for @user do |f| %>
<% if @user.errors.any? %>
<div class="error_messages">
  <h2>Form is invalid</h2>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
      <%= f.label :avatar %>
      <%= f.file_field :avatar, class: "form-control" %>
      <%= f.hidden_field :avatar_cache, class: "form-control" %>
</div>

<div>
  <%= f.submit "Sign Up", class: "btn btn-primary" %>
</div>

<% end %>
