<!-- Navigation -->
<%= render 'layouts/nav' %>

         <div class="container">

                      <!-- Row start -->
                      <div class="row">
                          <div class="col-md-8 col-sm-10 col-xs-12 col-sm-offset-2">
                          <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                              <i class="icon-calendar"></i>
                              <h3 class="panel-title">Upload a photo</h3>
                              <ul class="nav navbar-nav navbar-right">
                                  <li>
                                  <% if user_signed_in? %>

                                      <%= link_to "skip" %></li>
                                    </ul>
                                    <% end %>
                            </div>



                                    <%= form_for @user, url: user_path(@user), method: :patch do |f| %>
                                    <% if @user.errors.any? %>
                                    <div class="error_messages">
                                      <h2>Form is invalid</h2>
                                      <ul>
                                        <% @user.errors.full_messages.each do |message| %>
                                        <li><%= message %></li>
                                        <% end %>
                                      </ul>
                                    </div>
                                    <% end %>

                                    <div class="form-group">
                                      <div class="row">
                                          <div class="col-md-8 col-sm-10 col-xs-12 col-sm-offset-2">
                                          <%= f.label :avatar, class: "col-md-4 control-label" %>
                                          <%= f.file_field :avatar, class: "form-control" %>
                                          <%= f.hidden_field :avatar_cache, class: "form-control" %>

                                    </div>

                                </div>

                            </div>


                          </div>
                        </div>
                      </div>
                      <div>
                      <%= hidden_field_tag :redirect_location, 'three_interests' %>
                      <%= f.submit "Sign Up", class: "btn btn-default btn-lg" %>
                      <div class="col-md-5 control-label">
                      <% end %>
                    </div>
                  </div>
                  <div>
                  </div>
                  </div>
                      <!-- Row end -->


</div>
<h2>We need to add option to upload more photos </h2>
