<%= render 'layouts/nav' %>
        <div class="container content-wrapper">
<div class="row">
<div class="spacer"></div>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-12 col-sm-10 col-xs-12 col-sm-offset-0">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <i class="icon-calendar"></i>
          <h3 class="panel-title">Inbox</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
  <%= link_to "Compose", new_conversation_path, class: "btn btn-success compose" %>
  <div class="spacer"></div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= render 'mailbox/folders' %>
    </div>
  </div>
</div>

<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-body">
      <% if is_conversation %>
        <%= render 'conversations/form' %>
      <% else %>
        <%= render partial: 'conversations/conversation', collection: messages %>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
